@{
    ViewBag.Title = "Add";
}

<h2>Novo Cliente</h2>

<form  method="post">
    <div>
        <label>Nome:</label>
        <input autofocus type="text" name="nome" />
    </div>

    <div>
        <label>Idade:</label>
        <input type="number" name="idade" />
    </div>

    <button>Salvar</button>
    <a href="/Clientes">Cancelar</a>
</form>
